
@model RentCarModelView

@{
    int i=1;
    int Contador() => i++;

    string InOrOutStock(bool status)
    {
        if (status == true)
        {
            return "In Stock";
        }
        else
        {
            return "Out of Stock";
        }
    }

}

<h1>Fuel</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
      
        @foreach ( var item in Model.fuel_Types)
        {
        <tr>
      <!--<th scope="row"></th>-->
      <th scope="row" >@Contador()</th>
      <td>@item.description</td>
         <td>@InOrOutStock(@item.status)</td>
    </tr>
    
        }
        
  </tbody>
</table>

<button  type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#AddstaticBackdrop">Add Fuel Type</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#DeletestaticBackdrop">
  Delete Fuel Type
</button>
<!--Button trigger Update Modal-->
<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#UpdatestaticBackdrop">
  Update Fuel Type
</button>

<partial name="_DeleteView"/>
<partial name="_UpdateView"/>
<partial name="_AddView"/>


     






